@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: rgb(13,17,19);
    --clr-light: #fff;
    --clr-accent: rgb(222,52,0);
    --clr-accent-dark: rgb(163,38,0);
    --clr-secondary: rgb(0, 76, 199);

    --br: .5em;
    --transition: transform 200ms cubic-bezier(.21,1.0,.81,1.0)
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    // min-height: 100vh;
    // display: grid;
    // place-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    color: var(--clr-light);
}


.container {
    margin-top: 60px;
    margin-left: 10px;
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
    row-gap: 38px;
    column-gap: 10px;
    place-items: center;
}


h1,
h2,
h3,
p {
    margin: 0;
}


img {
    max-width: 100%;
    // height: 12.5rem;
}


.btn {
    cursor: pointer;
    border: 0;
    background: var(--clr-secondary);
    border-radius: 100vw;
    color: var(--clr-light);
    font-weight: bold;
    padding: .5em 1.5em;
}

.game {
    position: relative;
    width: 12.5rem;
    cursor: pointer;
}

.streamers {
    display: flex;
    text-align: center;

    
    img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
    }       
}

.rank {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 1000;
    font-weight: bold;
    font-size: 1rem;
    background: rgba(0,0,0,0.65);
    padding: .5em, .5em, .75em;
    clip-path: polygon(100% 0%,100% 100%,50% 85%,0 100%,0 0);
    transition: var(--transition);
    opacity: 0;
}


.front {
    transition: 250ms;

    .thumbnail{
        border-radius: var(--br);
    }

    .name {
        margin: .75em 0;
        text-align: center;
    }

    .name::first-letter{
        text-transform: uppercase;
    }


    .stats{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;
    }

    // .streamers img{
    //     border: 1px solid var(--clr-dark);
    //     &:nth-of-type(1){
    //         transform: translatex(50%);
    //         z-index: 1;
    //     }

    //     &:nth-of-type(2){
    //         transform: translatex(25%);
    //     }
    // }
}

.back {
    // display: none;
    opacity: 0;
    position: absolute;
    top: 58%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.1em;
    transform: translateY(35%);
    

    .streaming-info {
        columns: 2;
        column-rule: 1px solid rgba(255,255,255,0.25);
    }

    .game-stat {
        font-size: 1.125rem;
        text-align: center;

        // span {
        //     font-size: .85rem;
        //     display: block;
        // }
    }
}


.background {
    background: rgba(40, 46, 54, 0.1);
    backdrop-filter: blur(30px);
    box-shadow: 10px 10px 10px rgba(45,55,68,0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(.2, .9);
    opacity: 0;
    transition: transform 250ms;
    border-radius: var(--br);

    img {
        opacity: .3;
        clip-path: url(#wave);
        height: 37%;
        width: 100%;
        object-fit: cover;
    }
}

.game:hover {

    .rank {
        transform: translate(100%, 29%);
        background: red;
        opacity: 1;
    }
    .front {
        transform: translateY(-30%) scale(0.8);

        .name {
            animation: gameName 250ms forwards;
        }
        .stats {
            opacity: 0;
        }
    }
    .back {
        opacity: 1;
        // background: pink;
        transition: transform 250ms ease, opacity 150ms linear;
        transform: translateY(0);

        .streamers {
            width: 100%;
            justify-content: space-between;
        }

        .streamer {
            font-size: .9rem;
        }

        .name {
            font-weight: bold;
        }
    }
    .background {
        transition: var(--transition),
        opacity 100ms linear;
        opacity: 1;
        transform: scale(1.2, 1.1) translateY(7%);
    }
}

@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }

    20% {
        text-align: left;
        opacity: 0;
    }

    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    
    100% {
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}