{% extends "base.html"%}

{% block content%}
<div class="container_index">
    <div class="content">
        <h1 class="heading">Welcome to the world of pokemon</h1>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, numquam eveniet? Nisi, fugit? Esse earum
            excepturi animi sit reiciendis modi alias voluptates? Vero quaerat omnis quos dolorem, soluta totam aliquam.
        </p>
        <button class="btns">Get Started</button>
        <button class="btns">Learn More</button>
    </div>
    <div>
        <img class='ball' src="{{url_for('static', filename='img/NicePng_pokeball-png_218732.png')}}" alt="">
    </div>
</div>
{% endblock %}